@import "./theme.less";


.docs-decoration {
    position: absolute;
    width: 60vw;
    height: 18vh;
    background-color: #colors[primary];
    top: 0%;
    left: 0%;
    pointer-events: none;
    z-index: -1;
    transition: all 0.6s ease-in-out 0s;

    @media @sm,
    @xs,
    @md,
    @lg {
        display: none;
    }
}


.docs-header {
    text-align: center;
    padding-left: 2rem;
    pointer-events: none;
    transition: all 0.6s ease-in-out 0s;

    h1 {
        font-size: 2rem;
        color: #fff;
    }
}
.docs-sidebar {
    .menu-sidebar {
        background-color: transparent;
        width: 320px;
        top: 112px;
        bottom: 70px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-top: 2.5rem;
        position: fixed;
        z-index: 1030;

        h5 {
            font-size: 1.25rem;
            line-height: 1.4;
        }

        .doc-nav {
            font-size: 1rem;
            padding-left: 30px;
            list-style: none;
            color: #8f919e;

            a {
                color: #8f919e;

                &:hover {
                    text-decoration: none;
                }
            }

            .active {
                position: relative;

                a {
                    color: #colors[primary];

                    &:before {
                        content: "";
                        position: absolute;
                        top: 10px;
                        left: -14px;
                        width: 7px;
                        border-top: 3px solid #colors[primary];
                    }
                }
            }
        }

        h5 {
            padding-left: 10px;
        }

        @media @sm,
        @xs {
            display: none;
        }
    }
}

.docs-content {

    padding-top: 3rem;
    @media @sm,
    @xs {
        padding-top: .5rem;
        padding-bottom: 3rem;
    }
}


.docs-article {

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }
    .box{
        padding: 20px;
        box-shadow: 0 0 60px 0 rgba(94, 92, 154, .12);
        -webkit-box-shadow: 0 0 60px 0 rgba(94, 92, 154, .12);
    }
}