@import './theme.less';



@font-face {
    font-family: 'FredokaOne';
    src:url('../fonts/FredokaOne-Regular.ttf');
}

@font-face {
    font-family: 'Josefin_Sans';
    src:url('../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Raleway';
    src:url('../fonts/Raleway-Bold.ttf');
}


body {
    color: #5E5C7F;
    background: #fff;
    font-family: "Josefin_Sans";
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.brand{
    font-family: "FredokaOne";
    font-size: 30px;
    color: #F20574;
    padding: 5px 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #454360;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 20px 0;
}

.button {
    width: auto;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1;
    padding: 12px 14px;
    display: inline-block;
    cursor: pointer;
    transition: background-color .2s ease-in-out,
        color .2s ease-in-out,
        border-color .2s ease-in-out,
        box-shadow .2s ease-in-out;

    border: 1px solid transparent;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate3d(0, 0, 0);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .5s, opacity 1s;

    }

    &:active:after {
        transform: scale(0, 0);
        opacity: .2;
        transition: 0s;
    }

    &:focus {
        // box-shadow: 0 0 0 0rem rgba(38, 143, 255, .2);
        outline: 0px dotted;
        outline: 0px auto -webkit-focus-ring-color;
        border-color: transparent;
    }

}

.hover-animate{
    &:hover {
        -webkit-animation-name: button-push;
        animation-name: button-push;
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

    @-webkit-keyframes button-push {
        50% {
            -webkit-transform: scale(0.8);
            transform: scale(0.8);
        }
    
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
}

.primary {
    -webkit-box-shadow: 0 10px 10px 0 rgba(242, 5, 116, 0.2);
    box-shadow: 0 5px 30px 0 rgba(242, 5, 116,.2);
    color: #FFF;
    background-color: #F20574;
}


.secondary{
    -webkit-box-shadow: 0 10px 10px 0 rgba(125, 82, 217, 0.3);
    box-shadow: 0 5px 30px 0 rgba(125, 82, 217,.3);
    color: #FFF;
    background-color: #7D52D9;
}