@import "./theme.less";


.navbar {
    background-color: #fff;
    border-radius: 0 0 5px 5px;

    .navButton {
        button {
            margin-right: 10px;
            min-width: 80px;
            background-color: #fff;

            &:last-child {
                min-width: auto;
                margin: 0px 10px;
                background-color: #colors[primary];
            }
        }
    }
}

.home-decoration {
    position: absolute;
    width: 35vw;
    height: 100vh;
    background-color: #colors[primary];
    top: 0%;
    right: 0%;
    pointer-events: none;
    z-index: -1;
    
    @media @sm,
    @xs,
    @md,
    @lg,
    @xl {
        display: none;
    }
}

.home-hero {
    margin: 5rem 0;

    .home-intro {
        padding: 80px 0px;
        text-align: center;

        .hero-image {
            img {
                max-height: 320px;
            }
        }

        h1 {
            font-size: 3.75rem;
        }

        p {
            font-size: 1.25rem;
        }

        button {
            min-width: 200px;
            margin-top: 10px;
            margin: 20px;
        }
    }
}

.content {
    padding: 50px 5px;
    text-align: center;
}

.sampleview {
    div {
        button {
            margin-bottom: 15px;
            min-width: 200px;
        }
    }

    td {
        button {
            background-color: #fff;
            min-width: auto;
            font-weight: 100;
            margin: 0px;
            padding: 5px 20px;
            color: #5e5c7f;
        }
    }

    table {
        margin: 2%;
        padding: 10px 0px;
        width: 96%;
        height: 400px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
        border-radius: 5px;

        tr {
            border-top: 1px solid #efefef;
        }

        th {
            padding: 10px 0px;
            padding-top: 20px;
            font-weight: 800;
        }

        td {
            min-width: 100px;
        }
    }

    .first,
    .second {
        .browser {
            text-align: left;
            height: 400px;
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
            background: #fff;

            .browser-button {
                display: inline-block;
                margin-right: 5px;
                width: 10px;
                height: 10px;
                background: #aaa;
                border-radius: 100%;

                &:nth-child(1) {
                    background: #ff5f59;
                }

                &:nth-child(2) {
                    background: #ffbd2e;
                }

                &:nth-child(3) {
                    background: #29c941;
                }
            }

            .address {
                margin-top: 5px;
                padding: 5px 10px;
                background: #f7f7f7;
                letter-spacing: 0.32px;
                letter-spacing: 0.02rem;

                .host {
                    color: #595286;
                    font-weight: 700;
                }
            }

            pre {
                margin-bottom: auto;
                overflow-y: hidden;
                border-left: none;
                background: 0 0;
            }
        }
    }
}

.authBox {
    .box {
        height: 600px;
        background-color: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);

        .buttonGroup {
            button {
                width: 50%;
                background-color: #efefefe;

                &:first-child {
                    border-radius: 5px 0 0 0;
                }

                &:last-child {
                    border-radius: 0 5px 0 0;
                }
            }
        }
    }
}

footer {
    border-top: 1px solid #efefef;
    margin-top: 50px;
    padding: 20px;

    .footer-right {
        text-align: right;
    }

    .footer-left {
        text-align: left;
    }

    .social {
        display: flex;
    }

    .igroup {
        i {
            padding: 10px;
        }
    }

    p {
        padding: 10px;
    }

    i {
        font-size: 20px;
        color: #f20574;
    }
}